
b {color:maroon;}
a {color: maroon;text-decoration: none;outline: 0;}
.strong {
    color:maroon;
    font-weight: bold; 
}
p {line-height: 120%;}

#morpheus { 
    position: absolute;
    z-index: 99;
    left: 250px; 
    width: 600px; 
    height: 400px; 
    padding: 3px;
    /* margin-bottom: 5px; */
    border: 1px solid black; 
    background: #eee8aa; /* khaki-#eee8aa  old-#fbf7aa;  */ 
    overflow: hidden;
}
#morph-header{
    background: #eedd82;
    border: none; 
    border-bottom: 1px solid maroon; 
    padding-left: 10px; 
    padding-right: 10px; 
    padding-bottom: 5px; 
    padding-top: 5px; 
    cursor: pointer;
    color:maroon;
}
#results{
    /* overflow: auto; */
    /* max-height: 380px; */
    /* position: relative; */
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}
.form{
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding-right: 5px; 
}
.dicts{
    margin: 0;
    padding-left: 15px; 
}
.mistake-mark{
    margin-top: 5px;
    color:maroon;
    float:right;
    cursor: pointer;
}
.trn{
    padding-left: 10px; 
}
#sentence{
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
}
.word{
    cursor: pointer;
}
.current{
    border-bottom: 1px solid maroon; 
}
.img-home{
    padding-right: 10px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}
.hidden{
    display: none;
}
#x {
    cursor: pointer;
    color:maroon;
}
.maroon {
    /* cursor: pointer; */
    color:maroon;
}
.container{
    margin:25px;
/*    padding:25px;
    border: 1px solid black; 
 /*   background: lightgrey;   /* #dcdcdcdc;#ffdead;  #d2b48c; #fff8dc;  #fbf7aa;*/
}
#morpheus-img{
/*    float:left;*/
    margin:10px;

}
#mistake{
    overflow: auto;
    max-height: 250px; 
}
#note_{
    width:auto;
}
textarea{
    width:100%;
    margin:5px 0;
    padding:3px;
}
